*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.main-container {
  max-width: 21rem;
}

.image-style {
  background-color: hsl(285, 77%, 45%);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

img {
  mix-blend-mode: multiply;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(244, 38%, 16%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 32px;
}

.top-content h1 {
  font-size: 2rem;
  text-wrap: balance;
  padding-bottom: 8px;
}
.top-content .highlight {
  color: hsl(277, 64%, 61%);
}
.top-content p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.875rem;
  padding: 16px;
  padding-bottom: 24px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistics p {
  font-weight: 700;
  font-size: 1.25rem;
}
.statistics span {
  text-transform: uppercase;
  font-size: 0.6rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.statistics .stat1,
.statistics .stat2,
.statistics .stat3 {
  padding-bottom: 16px;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 100%, 68%);
}

@media (min-width: 50rem) {
  .main-container {
    max-width: 64rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .image-style {
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .top-content {
    text-align: left;
  }
  .top-content h1 {
    padding-bottom: 24px;
  }
  .top-content p {
    padding: 0;
  }
  .card-wrapper {
    grid-area: 1/1/2/2;
    justify-content: space-around;
    padding: 52px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7rem;
  }
  .statistics .stat1,
  .statistics .stat2,
  .statistics .stat3 {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */