//Varialbes
$mainbackground: hsl(233, 47%, 7%);
$cardbackground: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

@use 'reset';

@mixin Flex ($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;

}

body {
    background-color: $mainbackground;

    @include Flex(column);
    gap: 1.5rem;
}


//Main Styling Section
.main-container {
    max-width: 21rem;
}

.image-style {
    background-color: hsl(285, 77%, 45%);

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

img {
    mix-blend-mode: multiply;
}

.card-wrapper {
    @include Flex(column);
    background-color: $cardbackground;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 32px;
}

.top-content {
    h1 {
        font-size: 2rem;
        text-wrap: balance;

        padding-bottom: 8px;

    }

    .highlight {
        color: $accent;
    }

    p {
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 0.875rem;
        padding: 16px;
        padding-bottom: 24px;
    }
}

.statistics {
    @include Flex(column);

    p {
        font-weight: 700;
        font-size: 1.25rem;
    }

    span {
        text-transform: uppercase;
        font-size: 0.6rem;
        color: hsla(0, 0%, 100%, 0.75);
    }

    .stat1,
    .stat2,
    .stat3 {
        padding-bottom: 16px;
    }
}

//Footer attributes
.attribution {
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 100%, 68%);
}

@mixin Grid($columns, $rows) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
}

@media (min-width: 50rem) {
    .main-container {
        max-width: 64rem;

        @include Grid(2, 1);
    }

    .image-style {
        border-top-left-radius: 0;

        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .top-content {
        text-align: left;

        h1{
            padding-bottom: 24px;
        }

        p {
            padding: 0;
        }
    }

    .card-wrapper {
        grid-area: 1/1/2/2;
        justify-content: space-around;
        padding: 52px;

        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .statistics {
        @include Flex(row);
        gap: 7rem;

        .stat1,
        .stat2,
        .stat3 {
            padding: 0;
        }
    }

}